# WAP to find happy number.

In [3]:
n=int(input("Enter number : "))
temp=n
while n!=1 and n!=4:
    sum=0
    s=str(n)
    for i in s:
        sum+=int(i)**2
    n=sum
if n==1:
    print(temp,"is Happy number.")
else:
    print(temp,"is not Happy number.")

Enter number : 7
7 is Happy number.

In [3]:
n=int(input("Enter number : "))
temp=n
while n!=1 and n!=4:
    sum=0
    s=str(n)
    for i in s:
        sum+=int(i)**2
    n=sum
if n==1:
    print(temp,"is Happy number.")
else:
    print(temp,"is not Happy number.")

Enter number : 4
4 is not Happy number.

In [ ]:
# Another way , hear not use of string ---- this is not working check this
n=int(input("Enter number : "))
temp=n
num=n
while n!=1 and n!=4:
    sum=0
    while n>=0 :
        num=n%10
        sum+=num**2
        n=n//10
    n=sum
if n==1:
    print(temp,"is Happy number.")
else:
    print(temp,"is not Happy number.")

Enter number : 7

# WAP to count the salary for following this table.

In [ ]:
# Grade level    Basic pag     Other Allownces
#    A            60000           8000
#    B            50000           7000
#    C            40000           6000
#    D            30000           5000
#    E            20000           4000
#    F            10000           3000
#
#  Gross Pay = Basic pay+ HRA + DA + Other Allownaces + TA - professional Tax - EPF
#
# HRA 
#    city 
#      Class-1    0.3 of basic pay
#      Class-2    0.2 of basic pay
#      Class-3    0.1 of basic pay
#
# professinal tax -->  200 Rs/month
#
# DA  --> 0.5 times of basic pay
# EPF --> 0.11 times of basic pay
# TA  --> 900 Rs/month
# Amount                             Tax Rate
# Upto Rs.250000                      0%
# Rs.250001 to Rs.500000              5% above  Rs.250000
# Rs.500001 to Rs.750000              10% above Rs.500000 + Rs.12500
# Rs.750001 to Rs.1000000             15% above Rs.750000 + Rs.37500
# Rs.1000001 to Rs.1250000            20% above Rs.1000000 + Rs.75000
# Rs.1250001 to Rs.1500000            25% above Rs.1250000 + Rs.125000
# Above Rs.1500001                    30% above Rs.1500000 + Rs.187500

In [14]:
gl=input("Enter Grade Level : ")
cc=int(input("Enter City class : "))
bp={'A':60000,'B':50000,'C':40000,'D':30000,'E':20000,'F':10000}
oa={'A':8000,'B':7000,'C':6000,'D':5000,'E':4000,'F':3000}
HRA=0
if cc==1:
    HRA=0.3*bp[gl]
elif cc==2:
    HRA=0.2*bp[gl]
else:
    HRA=0.1*bp[gl]
GrossPay=0
GrossPay=bp[gl]+HRA +(0.5*bp[gl])+oa[gl]+900-200-(0.11*bp[gl])
print("Salary (Per Month) : Rs.",GrossPay)
gp=GrossPay*12
print("Salary (Anual) : Rs.",gp)
if gp<=250000:
    tax=0
elif gp>=250001 and gp<=500000:
    gp-=250000
    tax=0.05*gp
elif gp>=500001 and gp<=750000:
    gp-=500000
    tax=0.10*gp+12500
elif gp>=750001 and gp<=1000000:
    gp-=750000
    tax=0.15*gp+37500
elif gp>=1000001 and gp<=1250000:
    gp-=1000000
    tax=0.20*gp+75000
elif gp>=1250001 and gp<=1500000:
    gp-=1250000
    tax=0.25*gp+125000
else:
    gp-=1500000
    tax=0.30*gp+187500
    
print("Tax : Rs.",tax)

Enter Grade Level : A
Enter City class : 1
Salary (Per Month) : Rs. 110100.0
Salary (Anual) : Rs. 1321200.0
Tax : Rs. 142800.0

In [15]:
gl=input("Enter Grade Level : ")
cc=int(input("Enter City class : "))
bp={'A':60000,'B':50000,'C':40000,'D':30000,'E':20000,'F':10000}
oa={'A':8000,'B':7000,'C':6000,'D':5000,'E':4000,'F':3000}
HRA=0
if cc==1:
    HRA=0.3*bp[gl]
elif cc==2:
    HRA=0.2*bp[gl]
else:
    HRA=0.1*bp[gl]
GrossPay=0
GrossPay=bp[gl]+HRA +(0.5*bp[gl])+oa[gl]+900-200-(0.11*bp[gl])
print("Salary (Per Month) : Rs.",GrossPay)
gp=GrossPay*12
print("Salary (Anual) : Rs.",gp)
if gp<=250000:
    tax=0
elif gp>=250001 and gp<=500000:
    gp-=250000
    tax=0.05*gp
elif gp>=500001 and gp<=750000:
    gp-=500000
    tax=0.10*gp+12500
elif gp>=750001 and gp<=1000000:
    gp-=750000
    tax=0.15*gp+37500
elif gp>=1000001 and gp<=1250000:
    gp-=1000000
    tax=0.20*gp+75000
elif gp>=1250001 and gp<=1500000:
    gp-=1250000
    tax=0.25*gp+125000
else:
    gp-=1500000
    tax=0.30*gp+187500
    
print("Tax : Rs.",tax)

Enter Grade Level : B
Enter City class : 2
Salary (Per Month) : Rs. 87200.0
Salary (Anual) : Rs. 1046400.0
Tax : Rs. 84280.0

In [16]:
gl=input("Enter Grade Level : ")
cc=int(input("Enter City class : "))
bp={'A':60000,'B':50000,'C':40000,'D':30000,'E':20000,'F':10000}
oa={'A':8000,'B':7000,'C':6000,'D':5000,'E':4000,'F':3000}
HRA=0
if cc==1:
    HRA=0.3*bp[gl]
elif cc==2:
    HRA=0.2*bp[gl]
else:
    HRA=0.1*bp[gl]
GrossPay=0
GrossPay=bp[gl]+HRA +(0.5*bp[gl])+oa[gl]+900-200-(0.11*bp[gl])
print("Salary (Per Month) : Rs.",GrossPay)
gp=GrossPay*12
print("Salary (Anual) : Rs.",gp)
if gp<=250000:
    tax=0
elif gp>=250001 and gp<=500000:
    gp-=250000
    tax=0.05*gp
elif gp>=500001 and gp<=750000:
    gp-=500000
    tax=0.10*gp+12500
elif gp>=750001 and gp<=1000000:
    gp-=750000
    tax=0.15*gp+37500
elif gp>=1000001 and gp<=1250000:
    gp-=1000000
    tax=0.20*gp+75000
elif gp>=1250001 and gp<=1500000:
    gp-=1250000
    tax=0.25*gp+125000
else:
    gp-=1500000
    tax=0.30*gp+187500
    
print("Tax : Rs.",tax)

Enter Grade Level : C
Enter City class : 3
Salary (Per Month) : Rs. 66300.0
Salary (Anual) : Rs. 795600.0
Tax : Rs. 44340.0

# Patterns

In [17]:
# * 
# * * 
# * * * 
# * * * * 
# * * * * * 

n=int(input("Enter number of rows : "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*", end=" ")
    print()

Enter number of rows : 5
*
* *
* * *
* * * *
* * * * *

In [18]:
# 1 
# 2 2 
# 3 3 3 
# 4 4 4 4 
# 5 5 5 5 5 

n=int(input("Enter number of rows : "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i, end=" ")
    print()

Enter number of rows : 5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [19]:
# 1 
# 1 2 
# 1 2 3 
# 1 2 3 4 
# 1 2 3 4 5 

n=int(input("Enter number of rows : "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j, end=" ")
    print()

Enter number of rows : 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [25]:
# A 
# A B 
# A B C 
# A B C D 
# A B C D E 

n=int(input("Enter number of rows : "))
for i in range(1,n+1):
    k=65
    for j in range(1,i+1):
        print(chr(k), end=" ")
        k+=1
    print()

Enter number of rows : 5
A
A B
A B C
A B C D
A B C D E

In [26]:
# A 
# B C 
# D E F 
# G H I J 
# K L M N O

n=int(input("Enter number of rows : "))
k=65
for i in range(1,n+1):
    for j in range(1,i+1):
        print(chr(k), end=" ")
        k+=1
    print()

Enter number of rows : 5
A
B C
D E F
G H I J
K L M N O

In [27]:
# 1 
# 0 1 
# 1 0 1 
# 0 1 0 1 
# 1 0 1 0 1 

n=int(input("Enter number of rows : "))
for i in range(1,n+1):
    for j in range(1,i+1):
        if (i+j)%2==0:
            print("1", end=" ")
        else:
            print("0", end=" ")
    print()

Enter number of rows : 5
1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

In [31]:
# Another Way without if else
n=int(input("Enter number of rows : "))
for i in range(1,n+1):
    for j in range(1,i+1):
         print((i+j-1)%2, end=" ")
    print()

Enter number of rows : 5
1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

In [29]:
# 0 
# 1 1 
# 0 0 0 
# 1 1 1 1 
# 0 0 0 0 0 
# This is also do by another way like above
n=int(input("Enter number of rows : "))
for i in range(1,n+1):
    for j in range(1,i+1):
        if i%2==0:
            print("1", end=" ")
        else:
            print("0", end=" ")
    print()

Enter number of rows : 5
0
1 1
0 0 0
1 1 1 1
0 0 0 0 0

In [32]:
# * 
# # # 
# * * * 
# # # # # 
# * * * * * 

n=int(input("Enter number of rows : "))
for i in range(1,n+1):
    for j in range(1,i+1):
        if i%2==0:
            print("#", end=" ")
        else:
            print("*", end=" ")
    print()

Enter number of rows : 5
*
# #
* * *
# # # #
* * * * *

In [35]:
# * * * * * 
# * * * * 
# * * * 
# * * 
# * 

n=int(input("Enter number of rows : "))
for i in range(1,n+1):
    for j in range(i,n+1):
         print("*", end=" ")
    print()

Enter number of rows : 5
* * * * *
* * * *
* * *
* *
*

In [36]:
# 1 1 1 1 1 
# 2 2 2 2 
# 3 3 3 
# 4 4 
# 5

n=int(input("Enter number of rows : "))
for i in range(1,n+1):
    for j in range(i,n+1):
         print(i, end=" ")
    print()

Enter number of rows : 5
1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [42]:
# 1 2 3 4 5 
# 2 3 4 5 
# 3 4 5 
# 4 5 
# 5 

n=int(input("Enter number of rows : "))
for i in range(1,n+1):
    for j in range(i,n+1):
         print(j, end=" ")
    print()

Enter number of rows : 5
1 2 3 4 5
2 3 4 5
3 4 5
4 5
5

In [41]:
# 5 4 3 2 1 
# 5 4 3 2 
# 5 4 3 
# 5 4 
# 5 

n=int(input("Enter number of rows : "))
for i in range(1,n+1):
    for j in range(n,i-1,-1):
         print(j, end=" ")
    print()

Enter number of rows : 5
5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [3]:
# 1 2 3 4 5 
# 1 2 3 4 
# 1 2 3 
# 1 2 
# 1 

n=int(input("Enter number of rows : "))
for i in range(1,n+1):
    for j in range(i,n+1):
         print(j-i+1, end=" ")
    print()

Enter number of rows : 5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [17]:
#      * 
#     * * 
#    * * * 
#   * * * * 
#  * * * * * 
n=int(input("Enter number of rows : "))
for i in range(1,n+1):
    for j in range(i,n+1):
        print("",end=" ")
    for k in range(1,i+1):
        print("*",end=" ")
    print()

Enter number of rows : 5
     *
    * *
   * * *
  * * * *
 * * * * *

In [21]:
#      *
#     **
#    ***
#   ****
#  *****
n=int(input("Enter number of rows : "))
for i in range(1,n+1):
    for j in range(i,n+1):
        print(" ",end="")
    for k in range(1,i+1):
        print("*",end="")
    print()

Enter number of rows : 5
     *
    **
   ***
  ****
 *****

In [4]:
# *****
#  ****
#   ***
#    **
#     *
n=int(input("Enter number of rows : "))
for i in range(1,n+1):
    for j in range(n+1,i,-1):
        print(" ",end=" ")
    for k in range(1,i+1):
        print("*",end=" ")
    print()

Enter number of rows : 5
          *
        * *
      * * *
    * * * *
  * * * * *