# Important Function Dictionary

In [1]:
# update()
#         --> ll itemes preent in dictionary 1 will be added in dictionary 2.

In [2]:
# x's all element update in d

x={1:"Arman",2:"Aryan",3:"Lucky"}
d={4:"Dhairya",5:"xyz"}
d.update(x)
print(d)
print(x)

{4: 'Dhairya', 5: 'xyz', 1: 'Arman', 2: 'Aryan', 3: 'Lucky'}
{1: 'Arman', 2: 'Aryan', 3: 'Lucky'}

In [3]:
# d's all element update in x

x={1:"Arman",2:"Aryan",3:"Lucky"}
d={4:"Dhairya",5:"xyz"}
x.update(d)
print(d)
print(x)

{4: 'Dhairya', 5: 'xyz'}
{1: 'Arman', 2: 'Aryan', 3: 'Lucky', 4: 'Dhairya', 5: 'xyz'}

In [4]:
# get()
#      --> To get the value associated with key.
#      --> d.get(key)
#      --> d.get(key,defualtvalue)

d={10:"Lucky",20:"Aryan",30:"Arman"}
print(d[10])
print(d.get(10))
print(d.get(10,"Guest")) # if 10 key is available in dictionary then it will gave iyt's value
print(d.get(40,"Guest")) # otherwise it will gave defualtvalue.
print(d.get(40))
print(d[40])

Lucky
Lucky
Lucky
Guest
None

KeyError: 40

# popitem()

In [5]:
# for pop item from the dictinary

d={10:"Lucky",20:"Aryan",30:"Arman"}
print(d)
print(d.popitem())
print(d)

{10: 'Lucky', 20: 'Aryan', 30: 'Arman'}
(30, 'Arman')
{10: 'Lucky', 20: 'Aryan'}

In [6]:
# keys() :
#         --> it returns all keys associated with dictionary.

d={10:"Lucky",20:"Aryan",30:"Arman"}
print(d.keys())

dict_keys([10, 20, 30])

In [7]:
d={10:"Lucky",20:"Aryan",30:"Arman"}
for key in d.keys():
    print(key)

10
20
30

In [8]:
# values():
#          --> it returns all values associated with dictionary.

In [9]:
d={10:"Lucky",20:"Aryan",30:"Arman"}
print(d.values())

dict_values(['Lucky', 'Aryan', 'Arman'])

In [10]:
d={10:"Lucky",20:"Aryan",30:"Arman"}
for i in d.values():
    print(i)

Lucky
Aryan
Arman

In [11]:
# items() :
#          --> by defualt it create tuple by 1 variable.
#          --> if you want to both diffrent then you have to enter two variable.

d={10:"Lucky",20:"Aryan",30:"Arman"}
for i in d.items():
    print(i)

(10, 'Lucky')
(20, 'Aryan')
(30, 'Arman')

In [12]:
d={10:"Lucky",20:"Aryan",30:"Arman"}
for i,j in d.items():
    print(i,"-",j)

10 - Lucky
20 - Aryan
30 - Arman

In [14]:
# setdefault():
#              --> d.setdefault(k,v)
#              --> if the key is alredy available then this function returns corspnding value.
#              --> if key is not available then specified key-value will be added as new item to the dictionary.

d={10:"Lucky",20:"Aryan",30:"Arman"}
print(d.setdefault(40,"Pavan"))
print(d)
print(d.setdefault(10,"Sachin"))

Pavan
{10: 'Lucky', 20: 'Aryan', 30: 'Arman', 40: 'Pavan'}
Lucky

# WAP with user define function that reads word from the paragraph and stores them as a keys in dictionary and the count frequency of as a values.

In [15]:
s="dog the quick brown the jumps over the lazy dog."
def dicti(s):
    d={}
    sp=s.split(" ")
    c=0
    for i in sp:
        c=sp.count(i)
        d.setdefault(i,c)
    print(d)
dicti(s)

{'dog': 1, 'the': 3, 'quick': 1, 'brown': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'dog.': 1}

In [16]:
s=input("Enter String :")
def dicti(s):
    d={}
    sp=s.split(" ")
    c=0
    for i in sp:
        c=sp.count(i)
        d.setdefault(i,c)
    print(d)
dicti(s)

Enter String : dog the quick brown the jumps over the lazy dog

{'dog': 2, 'the': 3, 'quick': 1, 'brown': 1, 'jumps': 1, 'over': 1, 'lazy': 1}

In [18]:
s="dog the quick brown the jumps over the lazy dog"
def dicti(s):
    d={}
    sp=s.split(" ")
    c=0
    for i in sp:
        c=sp.count(i)
        d.setdefault(i,c)
    print(d)
dicti(s)

{'dog': 2, 'the': 3, 'quick': 1, 'brown': 1, 'jumps': 1, 'over': 1, 'lazy': 1}

# WAP to create a dictionary with key as the first charactor and values as a list of words starting with thier charactor.

In [22]:
d="Don't wait for your feelings to change to tacke action"
sp=d.split(" ")
r={}
for i in sp:
    k=i[0]
    if k in r:
        r[k].append(i)
    else:
        r[k]=[i]
print(r)

{'D': ["Don't"], 'w': ['wait'], 'f': ['for', 'feelings'], 'y': ['your'], 't': ['to', 'to', 'tacke'], 'c': ['change'], 'a': ['action']}

# Set

In [23]:
# --> Group of uniqe value as a single entity.
# --> Duplicates not allowed.
# --> Insertion order not presented but we can sort element.
# --> Indexing and slicing are not allowed for set.
# --> Heterogeneous objects are allowed.
# --> we can represent set elements within curly bressis with comma seperation.
# --> we can apply mathemetical operations like union,intersection,difference,sementic,difference.

s=set()
print(s)
print(type(s))

set()
<class 'set'>

In [26]:
s=set()
s={10,5,15,6,28,2,6,8,45}
print(s)
s={10,5,15,5,6,5,28}
print(s)
print(type(s))

{2, 5, 6, 8, 10, 45, 15, 28}
{5, 6, 10, 28, 15}
<class 'set'>

In [27]:
s=set([1,1,3,3,2,5,7,9,21])
print(s)
s=set(range(5))
print(s)

{1, 2, 3, 5, 7, 9, 21}
{0, 1, 2, 3, 4}

In [28]:
s={"Apple","Banana","Chery","Civi"}
print(s)

{'Civi', 'Banana', 'Chery', 'Apple'}

# Mathematical Operation

In [29]:
# 1. union():
#            --> union(x) - return all element present in both sets.
#            --> x|y

x={10,20,30,40}
y={30,40,50,60,70,80}
print(x.union(y))
print(x)

{70, 40, 10, 80, 50, 20, 60, 30}
{40, 10, 20, 30}

In [30]:
x={10,20,30,40}
y={30,40,50,60,70,80}
print(y.union(x))
print(y)

{70, 40, 10, 80, 50, 20, 60, 30}
{80, 50, 70, 40, 60, 30}

In [31]:
# 2. intersection :
#                  --> returns comman element present in both set.
#                  --> x.intersection(y)
#                  --> x&y

x={10,20,30,40}
y={30,40,50,60,70,80}
print(x.intersection(y))
print(x)

{40, 30}
{40, 10, 20, 30}

In [32]:
x={10,20,30,40}
y={30,40,50,60,70,80}
print(y.intersection(x))
print(y)

{40, 30}
{80, 50, 70, 40, 60, 30}

In [33]:
# 3. difference() :
#                  --> retuns elements present in x but not y.
#                  --> x.difference(y)
#                  --> x-y

x={10,20,30,40}
y={30,40,50,60,70,80}
print(x.difference(y))
print(x)

{10, 20}
{40, 10, 20, 30}

In [34]:
x={10,20,30,40}
y={30,40,50,60,70,80}
print(y.difference(x))
print(y)

{80, 50, 60, 70}
{80, 50, 70, 40, 60, 30}

In [35]:
# 4. symmetric_difference() :
#                            --> returns element present in either x or y but not in both.

x={10,20,30,40}
y={30,40,50,60,70,80}
print(x.symmetric_difference(y))
print(x)

{80, 50, 20, 70, 10, 60}
{40, 10, 20, 30}

In [36]:
x={10,20,30,40}
y={30,40,50,60,70,80}
print(y.symmetric_difference(x))
print(y)

{70, 10, 80, 50, 20, 60}
{80, 50, 70, 40, 60, 30}

In [38]:
# 5. issubset()

x={10,20,30,40}
y={10,20,30,40,50,60,70}
z=x.issubset(y)
p=y.issubset(x)
print(z)
print(p)

True
False

In [41]:
# 6. issuperset()

x={10,20,30,40}
y={10,20,30,40,50,60,70}
z=x.issuperset(y)
p=y.issuperset(x)
print(z)
print(p)

False
True