In [1]:
class test:
    def __init__(self):
        print("Self id :",id(self))
        self.value=50
        self.show()
    def show(self):
        print(self.value)

In [3]:
a=test()
print("Object Id :",id(a))

Self id : 1377709268736
50
Object Id : 1377709268736

In [4]:
class Person:
    def __init__(self):
        self.name="Tejas"
        self.age=30
    def update(self):
        self.age=28
    def compare(self,other):
        if self.age==other.age:
            print("Age is same")
        else:
            print("Age is Different")

In [5]:
p1=Person()
p2=Person()
print(p1.age,p2.age)
p1.compare(p2)
p1.update()
print(p1.age,p2.age)
p1.compare(p2)
del p1
p1.update()

30 30
Age is same
28 30
Age is Different

NameError: name 'p1' is not defined

In [6]:
class Person:
    def __init__(self):
        self.name="Tejas"
        self.age=30
    def update(self):
        self.age=28
    def compare(self,other):
        if self.age==other.age:
            print("Age is same")
        else:
            print("Age is Different")
    def __del__(self):
        print("Object Destroyed.")

In [8]:
p1=Person()
p2=Person()
print(p1.age,p2.age)
p1.compare(p2)
p1.update()
print(p1.age,p2.age)
p1.compare(p2)
del p1 # Object Destroyed.
p1.update() # Name Error

Object Destroyed.
30 30
Age is same
28 30
Age is Different
Object Destroyed.

NameError: name 'p1' is not defined

# Abstraction

In [ ]:
# --> just show us the functionalities anythings holds,hiding all the implementations or inner details.
# --> The main goal of abstraction is to hide background details or any unnecessary implementation about the data 
#     so that users only see the required information.
# --> it helps in handling the complexing of the codes.
# --> Abstraction can be achieved by using abstract classes.
# --> A class consist of one more abstract method.
# --> Abstract method do not contain any implementation of their own.
# --> Abstract class can act like a blueprint to other class.

# Encapsulation

In [ ]:
# --> The process of binding data and corresponding method together into a single unit is called Encapsulation.
# --> Encapsulation is a programming technique that binds the class members together and prevents them from being 
#      accessed by other classes.
# --> Encapsulation is a way to ensure security.
# --> it hides the data from access of outsiders.

# Public :
#            --> self.name 
#            --> This Attributes can be freely used inside or outside the class.
# Protected :
#            --> self._name
#            --> protected attribute should not be used outsidethe class,unless inside a subclass.
# private :
#            --> self._name
#            --> attributed is inaccessible and invisible. its neither posiible to read nor write to thouse attributes,
#                except inside the class itself.

In [11]:
class Library:
    def __init__(self,id,name):
        self.bookId=id
        self.bookName=name
    def setBookName(self,newBookName): # setter method
        self.bookName=newBookName
    def getBookName(self): # Getter Name
        print(f"The Book Name is : {self.bookName}")

In [12]:
book=Library(101,"the Witchers")
book.getBookName()
book.setBookName("The Witchers Returns")
book.getBookName()

The Book Name is : the Witchers
The Book Name is : The Witchers Returns

In [13]:
def fun():
    return 10
    return 20
    return 30
    return 40

In [14]:
x=fun()
print(x)

10

In [15]:
def fun():
    yield 10
    yield 20
    yield 30
    yield 40

In [16]:
x=fun()
print(x)
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x)) # stopIteration

<generator object fun at 0x00000140C5EC57E0>
10
20
30
40

StopIteration:

In [17]:
x=fun()
for i in x:
    print(i)

10
20
30
40

In [18]:
x=fun()
print(next(x)) # 10
for i in x:
    print(i) # 20 30 40

10
20
30
40

In [19]:
def table(n):
    for i in range(1,11):
        yield(n*i)
for i in table(15):
    print(i)

15
30
45
60
75
90
105
120
135
150

In [20]:

def table(n):
    for i in range(1,11):
        yield n*i
for i in table(15):
    print(i)

15
30
45
60
75
90
105
120
135
150

In [21]:
# class --> Student
# class Variable --> Branch
# Constructor --> RollNo , Name

# Methods :
# 1. enter_marks --> enter 5 Subject marks and store in List.
# 2. display --> rollNo,Name,Branch,Marks
# 3. calculater_avg --> calculate the avg marks & display

In [27]:
class Student:
    Branch="CSE"
    def __init__(self,rollNo,Name):
        self.rollNo=rollNo
        self.name=Name
    def enter_marks(self):
        self.mark_list=[]
        for i in range(5):
            marks=int(input(f"Enter Marks Of Subject {i+1} :"))
            self.mark_list.append(marks)
    def display(self):
        print("-"*16)
        print("Student Name : ",self.name)
        print("Student RollNo : ",self.rollNo)
        print("Student Branch : ",self.Branch)
        if len(self.mark_list)>0:
            print("Student's Marks are :",self.mark_list)
    def calculater_avg(self):
        sum=0
        c=0
        for i in self.mark_list:
            sum+=i
            c+=1
        avg=sum/c
        print(self.name,"'s Average is :",avg)

In [29]:
s=Student(11,"Krisha")
s.enter_marks()
s.display()

Enter Marks Of Subject 1 : 80
Enter Marks Of Subject 2 : 85
Enter Marks Of Subject 3 : 90
Enter Marks Of Subject 4 : 97
Enter Marks Of Subject 5 : 99

----------------
Student Name :  Krisha
Student RollNo :  11
Student Branch :  CSE
Student's Marks are : [80, 85, 90, 97, 99]

In [30]:
s1=Student(12,"Janvi")
s1.enter_marks()
s1.display()

Enter Marks Of Subject 1 : 80
Enter Marks Of Subject 2 : 75
Enter Marks Of Subject 3 : 46
Enter Marks Of Subject 4 : 57
Enter Marks Of Subject 5 : 38

----------------
Student Name :  Janvi
Student RollNo :  12
Student Branch :  CSE
Student's Marks are : [80, 75, 46, 57, 38]

In [31]:
s2=Student(13,"Priyal")
s2.enter_marks()
s2.display()
s2.calculater_avg()

Enter Marks Of Subject 1 : 87
Enter Marks Of Subject 2 : 86
Enter Marks Of Subject 3 : 76
Enter Marks Of Subject 4 : 97
Enter Marks Of Subject 5 : 80

----------------
Student Name :  Priyal
Student RollNo :  13
Student Branch :  CSE
Student's Marks are : [87, 86, 76, 97, 80]
Priyal 's Average is : 85.2

In [32]:
s.calculater_avg()

Krisha 's Average is : 90.2

In [33]:
s1.calculater_avg()

Janvi 's Average is : 59.2

# WAP to create class String and name methodes to count uppercase,lowercase,vovels,consonents,spaces and display thedetails of the that count.

In [38]:
class String_count:
    def __init__(self,s):
        self.s=s
        self.upper=0
        self.lower=0
        self.space=0
        self.vovel=0
        self.conso=0
    def uppercase(self):
        for i in self.s:
            if i.isupper():
                self.upper+=1
    def lowercase(self):
        for i in self.s:
            if i.islower():
                self.lower+=1
    def spaces(self):
        for i in self.s:
            if i.isspace():
                self.space+=1
    def vovels(self):
        for i in self.s:
            if i.upper() in ["A","E","I","O","U"]:
                self.vovel+=1
    def consonents(self):
        for i in self.s:
            if i.isalpha():
                if i.upper() not in ["A","E","I","O","U"]:
                    self.conso+=1
    def display(self):
        self.uppercase()
        print("Upper Case :",self.upper)
        self.lowercase()
        print("Lower Case :",self.lower)
        self.spaces()
        print("Spaces :",self.space)
        self.vovels()
        print("Vovels :",self.vovel)
        self.consonents()
        print("Consonents : ",self.conso)

In [39]:
s=String_count("Hello Sir.I am A Student.")
s.display()

Upper Case : 5
Lower Case : 14
Spaces : 4
Vovels : 8
Consonents :  11

In [40]:
s=String_count(input("Enter String :"))
s.display()

Enter String : Tejas Dada

Upper Case : 2
Lower Case : 7
Spaces : 1
Vovels : 4
Consonents :  5